.dashboardSummaryBoxlab {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-weight: 500;
  margin: 4em 1em;
}

.CircularProgressbar-path {
  stroke: #10fa07;
}

.CircularProgressbar-trail {
  stroke: #e1e5e6;
}

.CircularProgressbar-text {
  fill: rgb(218, 25, 25);
  transform: translate(-15px, 5px);
}

/* ----------Responsive------------- */
@media screen and (max-width: 1920px) {
  .dashboardSummaryBoxlab {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-weight: 700;
    margin: 4em 1em;
  }

  .CircularProgressbar-path {
    stroke: #10fa07;
  }

  .CircularProgressbar-trail {
    stroke: #e1e5e6;
  }

  .CircularProgressbar-text {
    fill: rgb(218, 25, 25);
    transform: translate(-15px, 5px);
  }
}
