.Create_Banner_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.create_banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../../../public/Images/backcoveradmin.png");
}
.add_banner_row {
  display: flex;
  justify-content: space-around;
}
.content_banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0px 2px 12px 2px;
  /* margin-top: 3em; */
  width: 35vw;
  height: 80vh;
  box-sizing: border-box;
  background-color: white;
}
.banner_add {
  width: 24vw;
  height: 5vh;
  margin: 1em 1em;
  border: 1px solid #ada7a7;
  border-radius: 8px;
}
#createBannerBtn {
  height: 5vh;
  width: 10vw;
  background: #308c89;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  font-family: "Lato";
  font-weight: 500;
  font-size: 16px;
}
#createBannerBtn:hover {
  background-color: #359c98;
}
.input_banner_upload > input {
  height: 5vh;
  width: 22vw;
  border-radius: 8px;
  margin: 0.3em 0em 0em 0em;
  border: 1px solid #ada7a7;
  background-color: #ffffff;
}
.banner_row > h1 {
  height: 6vh;
  width: 22vw;
  padding: 0.5em;
  border-radius: 5px;
  color: #ffffff;
  background: #308c89;
  text-align: center;
  font: 300 1.3em "Roboto";
}
.banner_row_label > label {
  font-weight: 600;
  margin: 0em 0em 0em 0.2em;
}
#createBannerFormImage {
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
}
#createBannerFormImage > img {
  width: 14vw;
  height: 12vh;
}
