.profileContainer {
  display: flex;
  background-image: url("../../../public/Images/backcoveradmin.png");
}
.row-profile {
  height: 95vh;
  width: 80vw;
  margin: 1em 2em;
  box-shadow: 0px 1px 8px 1px;
  background-color: #ffffff;
}
.pharm-profile {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
}

.content .textPart {
  margin: 0.6em;
  height: 45px;
}

.textPart > label {
  font-weight: 650;
}
.text2Part > label {
  font-weight: 650;
  margin-left: 0.5em;
}

.row-profile > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.7em;
}

.content {
  display: flex;
  flex-direction: column;
}

.innerRow {
  display: flex;
  flex-direction: row;
}

.edit_btn {
  height: 6vh;
  width: 10vw;
  background: #308c89;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  padding: 0.5em;
  cursor: pointer;
  margin: 2em 0em 0em 0em;
}

.edit_btn:hover {
  background-color: #359c98;
}

.productReviewsForm > button:hover {
  background-color: #46ddd8;
}

.row-profile > div > p {
  height: 6vh;
  width: 22vw;
  border-radius: 5px;
  color: #ffffff;
  background: #308c89;
  text-align: center;
  font: 300 1.3em "Roboto";
  padding: 0.35em;
}

.content .profileUpload {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imgdiv > img {
  width: 25vw;
  height: 20vh;
}

.category1_dropDown select {
  height: 6vh;
  width: 24vw;
  margin-left: 0.5em;
  border-radius: 5px;
  border: 1px solid #ada7a7;
}

/* ----------------------------Responsive--------------------------- */
@media screen and (min-width: 1920px) {
  .row-profile {
    height: 95vh;
    width: 90vw;
    margin: 2em 2em;
  }
  .row-profile > div > p {
    font: 300 2.9em "Roboto";
  }
  .row-profile > div {
    margin-top: 1em;
  }
  .content .textPart {
    margin: 3em;
    height: 50px;
  }

  .textPart > label {
    font-size: 40px;
  }
  .text2Part > label {
    display: block;
    font-size: 40px;
    margin-top: 1em;
    margin-left: 1em;
  }
  .textPart > p {
    font-size: 40px;
  }
  .edit_btn {
    font-size: 35px;
    margin: 0em 0em;
  }
  .imgdiv > img {
    width: 25vw;
    height: 33vh;
  }
}

/* @media screen and (max-width: 480px) {
  .row-profile .profileTitle {
    height: 4vh;
  }

  .row-profile > div > p,
  button {
    height: 6vh;
    width: 50vw;
    background: #308c89;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 2em;
    margin: auto;
  }

  .content > input {
    width: 60vw;
    height: 4vh;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 0.5em;
    border: 1px solid #ada7a7;
  }

  .innerRow {
    display: flex;
    flex-direction: column;
  }

  .imgdiv > img {
    width: 60vw;
    height: 20vh;
  }

  .profileUpload > input {
    height: 4vh;
    width: 60vw;
  }

  .category-dropDown > select {
    height: 4vh;
    width: 50vw;
  }
} */
/* @media screen and (max-width: 768px) {
  .row-profile > div > p,
  button {
    height: 6vh;
    width: 40vw;
    background: #308c89;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
  }

  .content > input {
    width: 30vw;
    height: 5vh;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #ada7a7;
  }

  .innerRow {
    display: flex;
    flex-direction: column;
  }

  .imgdiv > img {
    width: 45vw;
    height: 35vh;
  }

  .profileUpload > input {
    height: 5vh;
    width: 30vw;
  }

  .category-dropDown > select {
    height: 5vh;
    width: 30vw;
  }
} */
/* @media screen and (max-width: 1920px) {
  .row-profile .profileTitle {
    height: 4vh;
  }
  .row-profile > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .row-profile > div > p,
  button {
    height: 6vh;
    width: 25vw;
    background: #308c89;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    padding: 1em;
    margin: auto;
  }

  .content > input {
    width: 60vw;
    height: 4vh;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 0.5em;
    border: 1px solid #ada7a7;
  }

  .innerRow {
    display: flex;
    flex-direction: column;
  }

  .imgdiv > img {
    width: 30vw;
    height: 20vh;
  }

  .profileUpload > input {
    height: 4vh;
    width: 60vw;
  }

  .category-dropDown > select {
    height: 4vh;
    width: 50vw;
  }
} */
