.updateProfileContainer {
  width: 100vw;
  display: flex;
}
.sideBar {
  width: 20vw;
}

.updateProfileBox {
  background-color: white;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-image: url("../../../public/Images/background.png");
}

.updateProfileHeading {
  height: 7vh;
  width: 25vw;
  background: #308c89;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  margin: auto;
  margin-top: 1em;
  padding: 0.5em;
}

.updateProfileForm {
  margin: auto;
  padding: 1.5vmax;
  transition: all 0.5s;
}

.updateProfileForm > div {
  display: flex;
  justify-content: space-around;
}

.inner_content_div > div {
  margin: .8em 0em 0em 0em;
}
.updateProfileTime > input {
  margin: 0em 0em .8em 0em;
}


#updateProfileImageAdmin > img,
#updateCertificateImageAdmin > img {
  width: 24vw;
  max-height: 25vh;
  margin: 1.5em 0em .8em 0em;
}
#updateProfileImage > input {
  display: flex;
  padding: 0%;
}

#updateProfileImage > input::file-selector-button {
  cursor: pointer;
  width: 100%;
  z-index: 2;
  height: 5vh;
  border: none;
  margin: 0%;
  font: 400 0.8vmax cursive;
  transition: all 0.5s;
  padding: 0 1vmax;
  color: rgba(0, 0, 0, 0.623);
  background-color: rgb(255, 255, 255);
}

#updateProfileImage > input::file-selector-button:hover {
  background-color: rgb(235, 235, 235);
}

.updateProfileBtn {
  height: 6vh;
  width: 10vw;
  background: #308c89;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  margin: 1em 0em 0em 30em;
  font-family: "Lato";
  font-weight: 500;
  font-size: 18px;
}

.updateProfileBtn:hover {
  background-color: #359c98;
  box-shadow: 2px 2px  gray;
  transition:0.5s ease-in-out;
/* translate:100px -100px; */
/* transform:rotate(360deg) */
}

.updateProfileTime {
  display: flex;
  flex-direction: column;
}


.profile_update_label > label {
  margin-left: .3em;
  font-weight: 500;
}
.updateProfileInput >input{
  width: 24vw;
  height: 5vh;
  padding-left: 0.8em;
  border-radius: 8px;
  border: 1px solid #ada7a7;
  background-color: #ffffff;
}

/* .updateProfileForm > input {
  margin: 2em 0em 0em 18em;
} */

/* -----------Responsive--------------------------- */
@media screen and (max-width: 600px) {
  .updateProfileContainer {
    background-color: white;
  }
  .updateProfileBox {
    width: 100vw;
    height: 95vh;
  }

  .updateProfileForm {
    padding: 5vmax;
  }

  .updateProfileForm > div > input {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax cursive;
  }

  .updateProfileForm > div > svg {
    font-size: 2.8vmax;
  }

  #updateProfileImage > img {
    width: 8vmax;
    border-radius: 100%;
  }

  #updateProfileImage > input::file-selector-button {
    height: 7vh;
    font: 400 1.8vmax cursive;
  }

  .updateProfileBtn {
    font: 300 1.9vmax "Roboto";
    padding: 1.8vmax;
  }
}
