.productListContainer {
  width: 100%;
  box-sizing: border-box;
  background-color: whitesmoke;
  border-left: 1px solid rgba(0, 0, 0, 0.158);
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("../../../../public/Images/backcoveradmin.png");
}

.heading {
  display: flex;
  justify-content: center;
  margin-bottom: 0.8em;
}
#productListHeading {
  height: 6vh;
  width: 22vw;
  padding: 0.35em;
  border-radius: 5px;
  color: #ffffff;
  background: #308c89;
  text-align: center;
  font: 300 1.3em "Roboto";
  margin: 1em 20em;
}

.productListTable {
  border: none !important;
}

.productListTable div {
  font: 300 1vmax "Roboto";
  color: rgba(36, 4, 4, 0.678);
  border: none !important;
}
.productListTable a,
.productListTable button {
  color: rgba(0, 0, 0, 0.527);
  transition: all 0.5s;
}

.productListTable a:hover {
  color: tomato;
}

.productListTable button:hover {
  color: rgb(236, 30, 30);
}

.MuiDataGrid-columnHeader div {
  color: rgb(12, 12, 12);
}

.noOrder {
  color: rgba(0, 0, 0, 0.733);
  font: 300 2rem "Roboto";
  text-align: center;
}

@media screen and (max-width: 600px) {
  .productListTable div {
    font: 300 4vw "Roboto";
  }
}
